
.list {
  background-color: white;
}

.list_headerbar {
  background-color: white;
  background-image: none;
}

.article_headerbar {
  background-color: #d6dde3;
  background-image: none;
}

.channelprogress trough {
  min-width: 60px;
}

.articlebox {
  margin: 10px;
}

flowboxchild {
	margin: 15px;
	border: solid 1px lightgray;
	border-radius: 3px;
}

flowboxchild:selected {
  background-color: white;
}

.entrytitle {
  color: black;
  font-family: Merriweather;
  font-size: large;
}

.dateheader {
  margin-top: 10px;
  margin-left: 10px;
  font-size: large;
}

.list row:hover {
  background-color: white;
}

.preview_lbl {
  color: gray;
}

.unread {
  font-weight: bold;
}